 body{
    align-items: center;  
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
      background-image: none !important;
  background: white !important;

}


#two {  
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: rgb(186, 193, 199);
}

.galleryPage {
  background: white;
  min-height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
    background: none; 
    height: 100%; 
    overflow-y: auto; 
    justify-content: center; 
    padding-top: 110px;
    padding-bottom: 80px;
}
 
 
main.gallery-container {
    width: 60%;
    background: white;
    margin: 32px auto;
}


section.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    grid-template-rows: repeat(8, 1fr); 
    grid-gap: 24px; 
}

.galleryimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.galleryitem1 {
    grid-column: 1 / span 2;  
    grid-row: 1 / span 2;    
}

.galleryitem2 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

.galleryitem3 {
    grid-column: 5 / span 4;
    grid-row: 1 / span 5;
}

.galleryitem4 {
    grid-column: 1 / span 4;
    grid-row: 3 / span 3;
}

.galleryitem5 {
    grid-column: 1 / span 4;
    grid-row: 6 / span 3;
}

.galleryitem6 {
    grid-column: 5 / span 4;
    grid-row: 6 / span 3;
}

.galleryitem7 {
    grid-column: 1 / span 4;
    grid-row: 9 / span 2;
}

.galleryitem8 {
    grid-column: 5 / span 2;
    grid-row: 9 / span 1;
}

.galleryitem9 {
    grid-column: 7 / span 2;
    grid-row: 9 / span 1;
}

.galleryitem10 {
    grid-column: 5 / span 4;
    grid-row: 10 / span 1;
}

.galleryitem11 {
    grid-column: 1 / span 8;
    grid-row: 11 / span 4;
}
 

 
 