 
main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      padding-top: 80px;
      padding-bottom: 80px;
      height: 100%; 
      overflow-y: auto;   
      justify-content: center;  
}

main .placeContainer{
    padding: 60px 68px;
    display: flex;
    justify-content: space-between;
    background-color: white;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    width: min(95%, 1200px); 
    min-height: 100px; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    
}
 
main .placeContainer .places {
    display: grid;
    grid-template-columns: repeat(5, minmax(160px, 1fr));  
    justify-content: center;
    align-items: center;
    gap:  35px 30px;
    width: 100%;
}
 
main .placeContainer .placeTitle {
    margin-bottom: 40px; 
    text-align: center;  
    letter-spacing: 4px;
    font-size: 30px;
}
main .placeContainer .favPlace {
    text-align: center;
    margin-bottom: 30px; 
}
main .placeContainer .favPlace .placeTitle {
    font-family: "Lobster", serif;
    color:#1c3f4bf4;    
    text-decoration: underline;
    text-underline-offset: 7px; 
    text-decoration-thickness: 1px; 
    text-decoration-color: rgba(128, 128, 128, 0.638) ;
    letter-spacing: 2px; 
}
 
main .placeContainer .place img {
    width: 150px;
    height: 150px;
    border-radius: 100%; 
    object-fit: cover;
}
 
main .placeContainer .place .placeName {
    margin-top: 10px;
    font-weight: bold; 
    font-family: 'Merriweather', serif;
    font-size: 20px;
    line-height: 1.2;
    white-space: nowrap;    
    letter-spacing: 1px;
}
 
main .placeContainer .place {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
}
                  
     
    main .placeContainer .place img {
        width: 100px;
        height: 100px;
        border-radius: 100%; 
        object-fit: cover;
    }
    